openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://aged-reef-fiao7crdopo9.vapor-farm-g1.com'
paths:
  /api/register:
    post:
      summary: ''
      operationId: postApiRegister
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the user.'
                  example: 'John Doe'
                email:
                  type: string
                  description: 'The email of the user.'
                  example: test@email.com
                password:
                  type: string
                  description: 'The password of the user.'
                  example: password
                password_confirmation:
                  type: string
                  description: 'The password confirmation of the user.'
                  example: password
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /api/login:
    post:
      summary: ''
      operationId: postApiLogin
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: test@email.com
                password:
                  type: string
                  description: 'The password of the user.'
                  example: password
              required:
                - email
                - password
      security: []
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/teams/become-team-manager:
    post:
      summary: ''
      operationId: postApiTeamsBecomeTeamManager
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                team_id:
                  type: string
                  description: ''
                  example: soluta
              required:
                - team_id
      security: []
  /api/games:
    get:
      summary: ''
      operationId: getApiGames
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 401
                      round: 3
                      status: 60
                      starts_at: '2022-11-27T23:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 12
                      away_score: 9
                      home_team_id: 57
                      away_team_id: 58
                      competition_id: 8
                      home_team:
                        id: 57
                        name: Sporup
                        city: Sporup
                        country: DK
                      away_team:
                        id: 58
                        name: Glejbjerg
                        city: Glejbjerg
                        country: DK
                    -
                      id: 397
                      round: 2
                      status: 60
                      starts_at: '2022-11-27T21:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 9
                      away_score: 8
                      home_team_id: 58
                      away_team_id: 64
                      competition_id: 8
                      home_team:
                        id: 58
                        name: Glejbjerg
                        city: Glejbjerg
                        country: DK
                      away_team:
                        id: 64
                        name: Mørke
                        city: Mørke
                        country: DK
                    -
                      id: 404
                      round: 3
                      status: 60
                      starts_at: '2022-11-27T23:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 7
                      away_score: 5
                      home_team_id: 61
                      away_team_id: 59
                      competition_id: 8
                      home_team:
                        id: 61
                        name: Vojens
                        city: Vojens
                        country: DK
                      away_team:
                        id: 59
                        name: Djurs
                        city: Djurs
                        country: DK
                    -
                      id: 448
                      round: 14
                      status: 0
                      starts_at: '2022-11-28T21:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 0
                      away_score: 0
                      home_team_id: 57
                      away_team_id: 62
                      competition_id: 8
                      home_team:
                        id: 57
                        name: Sporup
                        city: Sporup
                        country: DK
                      away_team:
                        id: 62
                        name: Haderslev
                        city: Haderslev
                        country: DK
                    -
                      id: 400
                      round: 2
                      status: 60
                      starts_at: '2022-11-27T21:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 10
                      away_score: 9
                      home_team_id: 60
                      away_team_id: 59
                      competition_id: 8
                      home_team:
                        id: 60
                        name: Kolding
                        city: Kolding
                        country: DK
                      away_team:
                        id: 59
                        name: Djurs
                        city: Djurs
                        country: DK
                    -
                      id: 396
                      round: 1
                      status: 60
                      starts_at: '2022-11-27T19:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 8
                      away_score: 4
                      home_team_id: 60
                      away_team_id: 62
                      competition_id: 8
                      home_team:
                        id: 60
                        name: Kolding
                        city: Kolding
                        country: DK
                      away_team:
                        id: 62
                        name: Haderslev
                        city: Haderslev
                        country: DK
                    -
                      id: 402
                      round: 3
                      status: 60
                      starts_at: '2022-11-27T23:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 7
                      away_score: 2
                      home_team_id: 64
                      away_team_id: 62
                      competition_id: 8
                      home_team:
                        id: 64
                        name: Mørke
                        city: Mørke
                        country: DK
                      away_team:
                        id: 62
                        name: Haderslev
                        city: Haderslev
                        country: DK
                    -
                      id: 393
                      round: 1
                      status: 60
                      starts_at: '2022-11-27T19:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 11
                      away_score: 12
                      home_team_id: 63
                      away_team_id: 58
                      competition_id: 8
                      home_team:
                        id: 63
                        name: Sydfyn
                        city: Sydfyn
                        country: DK
                      away_team:
                        id: 58
                        name: Glejbjerg
                        city: Glejbjerg
                        country: DK
                    -
                      id: 399
                      round: 2
                      status: 60
                      starts_at: '2022-11-27T21:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 5
                      away_score: 11
                      home_team_id: 62
                      away_team_id: 61
                      competition_id: 8
                      home_team:
                        id: 62
                        name: Haderslev
                        city: Haderslev
                        country: DK
                      away_team:
                        id: 61
                        name: Vojens
                        city: Vojens
                        country: DK
                    -
                      id: 405
                      round: 4
                      status: 60
                      starts_at: '2022-11-28T01:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 10
                      away_score: 5
                      home_team_id: 58
                      away_team_id: 62
                      competition_id: 8
                      home_team:
                        id: 58
                        name: Glejbjerg
                        city: Glejbjerg
                        country: DK
                      away_team:
                        id: 62
                        name: Haderslev
                        city: Haderslev
                        country: DK
                    -
                      id: 403
                      round: 3
                      status: 60
                      starts_at: '2022-11-27T23:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 6
                      away_score: 7
                      home_team_id: 63
                      away_team_id: 60
                      competition_id: 8
                      home_team:
                        id: 63
                        name: Sydfyn
                        city: Sydfyn
                        country: DK
                      away_team:
                        id: 60
                        name: Kolding
                        city: Kolding
                        country: DK
                    -
                      id: 395
                      round: 1
                      status: 60
                      starts_at: '2022-11-27T19:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 9
                      away_score: 5
                      home_team_id: 59
                      away_team_id: 57
                      competition_id: 8
                      home_team:
                        id: 59
                        name: Djurs
                        city: Djurs
                        country: DK
                      away_team:
                        id: 57
                        name: Sporup
                        city: Sporup
                        country: DK
                    -
                      id: 406
                      round: 4
                      status: 60
                      starts_at: '2022-11-28T01:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 5
                      away_score: 7
                      home_team_id: 60
                      away_team_id: 57
                      competition_id: 8
                      home_team:
                        id: 60
                        name: Kolding
                        city: Kolding
                        country: DK
                      away_team:
                        id: 57
                        name: Sporup
                        city: Sporup
                        country: DK
                    -
                      id: 394
                      round: 1
                      status: 60
                      starts_at: '2022-11-27T19:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 4
                      away_score: 7
                      home_team_id: 61
                      away_team_id: 64
                      competition_id: 8
                      home_team:
                        id: 61
                        name: Vojens
                        city: Vojens
                        country: DK
                      away_team:
                        id: 64
                        name: Mørke
                        city: Mørke
                        country: DK
                    -
                      id: 407
                      round: 4
                      status: 60
                      starts_at: '2022-11-28T01:58:57.000000Z'
                      current_time: '20:00'
                      home_score: 6
                      away_score: 7
                      home_team_id: 59
                      away_team_id: 64
                      competition_id: 8
                      home_team:
                        id: 59
                        name: Djurs
                        city: Djurs
                        country: DK
                      away_team:
                        id: 64
                        name: Mørke
                        city: Mørke
                        country: DK
                  links:
                    first: 'https://hockeymanager.test/api/games?page=1'
                    last: 'https://hockeymanager.test/api/games?page=30'
                    prev: null
                    next: 'https://hockeymanager.test/api/games?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 30
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=1'
                        label: '1'
                        active: true
                      -
                        url: 'https://hockeymanager.test/api/games?page=2'
                        label: '2'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=3'
                        label: '3'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=4'
                        label: '4'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=5'
                        label: '5'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=6'
                        label: '6'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=7'
                        label: '7'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=8'
                        label: '8'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=9'
                        label: '9'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=10'
                        label: '10'
                        active: false
                      -
                        url: null
                        label: ...
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=29'
                        label: '29'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=30'
                        label: '30'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/games?page=2'
                        label: 'Next &raquo;'
                        active: false
                    path: 'https://hockeymanager.test/api/games'
                    per_page: 15
                    to: 15
                    total: 448
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 401
                        round: 3
                        status: 60
                        starts_at: '2022-11-27T23:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 12
                        away_score: 9
                        home_team_id: 57
                        away_team_id: 58
                        competition_id: 8
                        home_team:
                          id: 57
                          name: Sporup
                          city: Sporup
                          country: DK
                        away_team:
                          id: 58
                          name: Glejbjerg
                          city: Glejbjerg
                          country: DK
                      -
                        id: 397
                        round: 2
                        status: 60
                        starts_at: '2022-11-27T21:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 9
                        away_score: 8
                        home_team_id: 58
                        away_team_id: 64
                        competition_id: 8
                        home_team:
                          id: 58
                          name: Glejbjerg
                          city: Glejbjerg
                          country: DK
                        away_team:
                          id: 64
                          name: Mørke
                          city: Mørke
                          country: DK
                      -
                        id: 404
                        round: 3
                        status: 60
                        starts_at: '2022-11-27T23:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 7
                        away_score: 5
                        home_team_id: 61
                        away_team_id: 59
                        competition_id: 8
                        home_team:
                          id: 61
                          name: Vojens
                          city: Vojens
                          country: DK
                        away_team:
                          id: 59
                          name: Djurs
                          city: Djurs
                          country: DK
                      -
                        id: 448
                        round: 14
                        status: 0
                        starts_at: '2022-11-28T21:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 0
                        away_score: 0
                        home_team_id: 57
                        away_team_id: 62
                        competition_id: 8
                        home_team:
                          id: 57
                          name: Sporup
                          city: Sporup
                          country: DK
                        away_team:
                          id: 62
                          name: Haderslev
                          city: Haderslev
                          country: DK
                      -
                        id: 400
                        round: 2
                        status: 60
                        starts_at: '2022-11-27T21:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 10
                        away_score: 9
                        home_team_id: 60
                        away_team_id: 59
                        competition_id: 8
                        home_team:
                          id: 60
                          name: Kolding
                          city: Kolding
                          country: DK
                        away_team:
                          id: 59
                          name: Djurs
                          city: Djurs
                          country: DK
                      -
                        id: 396
                        round: 1
                        status: 60
                        starts_at: '2022-11-27T19:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 8
                        away_score: 4
                        home_team_id: 60
                        away_team_id: 62
                        competition_id: 8
                        home_team:
                          id: 60
                          name: Kolding
                          city: Kolding
                          country: DK
                        away_team:
                          id: 62
                          name: Haderslev
                          city: Haderslev
                          country: DK
                      -
                        id: 402
                        round: 3
                        status: 60
                        starts_at: '2022-11-27T23:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 7
                        away_score: 2
                        home_team_id: 64
                        away_team_id: 62
                        competition_id: 8
                        home_team:
                          id: 64
                          name: Mørke
                          city: Mørke
                          country: DK
                        away_team:
                          id: 62
                          name: Haderslev
                          city: Haderslev
                          country: DK
                      -
                        id: 393
                        round: 1
                        status: 60
                        starts_at: '2022-11-27T19:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 11
                        away_score: 12
                        home_team_id: 63
                        away_team_id: 58
                        competition_id: 8
                        home_team:
                          id: 63
                          name: Sydfyn
                          city: Sydfyn
                          country: DK
                        away_team:
                          id: 58
                          name: Glejbjerg
                          city: Glejbjerg
                          country: DK
                      -
                        id: 399
                        round: 2
                        status: 60
                        starts_at: '2022-11-27T21:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 5
                        away_score: 11
                        home_team_id: 62
                        away_team_id: 61
                        competition_id: 8
                        home_team:
                          id: 62
                          name: Haderslev
                          city: Haderslev
                          country: DK
                        away_team:
                          id: 61
                          name: Vojens
                          city: Vojens
                          country: DK
                      -
                        id: 405
                        round: 4
                        status: 60
                        starts_at: '2022-11-28T01:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 10
                        away_score: 5
                        home_team_id: 58
                        away_team_id: 62
                        competition_id: 8
                        home_team:
                          id: 58
                          name: Glejbjerg
                          city: Glejbjerg
                          country: DK
                        away_team:
                          id: 62
                          name: Haderslev
                          city: Haderslev
                          country: DK
                      -
                        id: 403
                        round: 3
                        status: 60
                        starts_at: '2022-11-27T23:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 6
                        away_score: 7
                        home_team_id: 63
                        away_team_id: 60
                        competition_id: 8
                        home_team:
                          id: 63
                          name: Sydfyn
                          city: Sydfyn
                          country: DK
                        away_team:
                          id: 60
                          name: Kolding
                          city: Kolding
                          country: DK
                      -
                        id: 395
                        round: 1
                        status: 60
                        starts_at: '2022-11-27T19:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 9
                        away_score: 5
                        home_team_id: 59
                        away_team_id: 57
                        competition_id: 8
                        home_team:
                          id: 59
                          name: Djurs
                          city: Djurs
                          country: DK
                        away_team:
                          id: 57
                          name: Sporup
                          city: Sporup
                          country: DK
                      -
                        id: 406
                        round: 4
                        status: 60
                        starts_at: '2022-11-28T01:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 5
                        away_score: 7
                        home_team_id: 60
                        away_team_id: 57
                        competition_id: 8
                        home_team:
                          id: 60
                          name: Kolding
                          city: Kolding
                          country: DK
                        away_team:
                          id: 57
                          name: Sporup
                          city: Sporup
                          country: DK
                      -
                        id: 394
                        round: 1
                        status: 60
                        starts_at: '2022-11-27T19:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 4
                        away_score: 7
                        home_team_id: 61
                        away_team_id: 64
                        competition_id: 8
                        home_team:
                          id: 61
                          name: Vojens
                          city: Vojens
                          country: DK
                        away_team:
                          id: 64
                          name: Mørke
                          city: Mørke
                          country: DK
                      -
                        id: 407
                        round: 4
                        status: 60
                        starts_at: '2022-11-28T01:58:57.000000Z'
                        current_time: '20:00'
                        home_score: 6
                        away_score: 7
                        home_team_id: 59
                        away_team_id: 64
                        competition_id: 8
                        home_team:
                          id: 59
                          name: Djurs
                          city: Djurs
                          country: DK
                        away_team:
                          id: 64
                          name: Mørke
                          city: Mørke
                          country: DK
                    items:
                      type: object
                  links:
                    type: object
                    example:
                      first: 'https://hockeymanager.test/api/games?page=1'
                      last: 'https://hockeymanager.test/api/games?page=30'
                      prev: null
                      next: 'https://hockeymanager.test/api/games?page=2'
                  meta:
                    type: object
                    example:
                      current_page: 1
                      from: 1
                      last_page: 30
                      links:
                        -
                          url: null
                          label: '&laquo; Previous'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=1'
                          label: '1'
                          active: true
                        -
                          url: 'https://hockeymanager.test/api/games?page=2'
                          label: '2'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=3'
                          label: '3'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=4'
                          label: '4'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=5'
                          label: '5'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=6'
                          label: '6'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=7'
                          label: '7'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=8'
                          label: '8'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=9'
                          label: '9'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=10'
                          label: '10'
                          active: false
                        -
                          url: null
                          label: ...
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=29'
                          label: '29'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=30'
                          label: '30'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/games?page=2'
                          label: 'Next &raquo;'
                          active: false
                      path: 'https://hockeymanager.test/api/games'
                      per_page: 15
                      to: 15
                      total: 448
      tags:
        - Endpoints
      security: []
  '/api/games/{game_id}':
    get:
      summary: ''
      operationId: getApiGamesGame_id
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    round: 1
                    status: 60
                    starts_at: '2022-11-27T19:58:49.000000Z'
                    current_time: '20:00'
                    home_score: 6
                    away_score: 7
                    home_team_id: 2
                    away_team_id: 5
                    competition_id: 1
                    home_team:
                      id: 2
                      name: Lidhult
                      city: Lidhult
                      country: SE
                    away_team:
                      id: 5
                      name: 'Naglarby och Enbacka'
                      city: 'Naglarby och Enbacka'
                      country: SE
                properties:
                  data:
                    type: object
                    example:
                      id: 1
                      round: 1
                      status: 60
                      starts_at: '2022-11-27T19:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 6
                      away_score: 7
                      home_team_id: 2
                      away_team_id: 5
                      competition_id: 1
                      home_team:
                        id: 2
                        name: Lidhult
                        city: Lidhult
                        country: SE
                      away_team:
                        id: 5
                        name: 'Naglarby och Enbacka'
                        city: 'Naglarby och Enbacka'
                        country: SE
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: game_id
        description: 'The ID of the game.'
        example: 1
        required: true
        schema:
          type: integer
  /api/teams:
    get:
      summary: ''
      operationId: getApiTeams
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 64
                      name: Mørke
                      city: Mørke
                      country: DK
                    -
                      id: 57
                      name: Sporup
                      city: Sporup
                      country: DK
                    -
                      id: 58
                      name: Glejbjerg
                      city: Glejbjerg
                      country: DK
                    -
                      id: 59
                      name: Djurs
                      city: Djurs
                      country: DK
                    -
                      id: 60
                      name: Kolding
                      city: Kolding
                      country: DK
                    -
                      id: 61
                      name: Vojens
                      city: Vojens
                      country: DK
                    -
                      id: 62
                      name: Haderslev
                      city: Haderslev
                      country: DK
                    -
                      id: 63
                      name: Sydfyn
                      city: Sydfyn
                      country: DK
                    -
                      id: 49
                      name: Vestj
                      city: Vestj
                      country: DK
                    -
                      id: 50
                      name: Vinderup
                      city: Vinderup
                      country: DK
                    -
                      id: 51
                      name: Sandved
                      city: Sandved
                      country: DK
                    -
                      id: 52
                      name: Veksø
                      city: Veksø
                      country: DK
                    -
                      id: 53
                      name: Såby
                      city: Såby
                      country: DK
                    -
                      id: 54
                      name: Ulstrup
                      city: Ulstrup
                      country: DK
                    -
                      id: 55
                      name: Hundested
                      city: Hundested
                      country: DK
                  links:
                    first: 'https://hockeymanager.test/api/teams?page=1'
                    last: 'https://hockeymanager.test/api/teams?page=5'
                    prev: null
                    next: 'https://hockeymanager.test/api/teams?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 5
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/teams?page=1'
                        label: '1'
                        active: true
                      -
                        url: 'https://hockeymanager.test/api/teams?page=2'
                        label: '2'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/teams?page=3'
                        label: '3'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/teams?page=4'
                        label: '4'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/teams?page=5'
                        label: '5'
                        active: false
                      -
                        url: 'https://hockeymanager.test/api/teams?page=2'
                        label: 'Next &raquo;'
                        active: false
                    path: 'https://hockeymanager.test/api/teams'
                    per_page: 15
                    to: 15
                    total: 64
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 64
                        name: Mørke
                        city: Mørke
                        country: DK
                      -
                        id: 57
                        name: Sporup
                        city: Sporup
                        country: DK
                      -
                        id: 58
                        name: Glejbjerg
                        city: Glejbjerg
                        country: DK
                      -
                        id: 59
                        name: Djurs
                        city: Djurs
                        country: DK
                      -
                        id: 60
                        name: Kolding
                        city: Kolding
                        country: DK
                      -
                        id: 61
                        name: Vojens
                        city: Vojens
                        country: DK
                      -
                        id: 62
                        name: Haderslev
                        city: Haderslev
                        country: DK
                      -
                        id: 63
                        name: Sydfyn
                        city: Sydfyn
                        country: DK
                      -
                        id: 49
                        name: Vestj
                        city: Vestj
                        country: DK
                      -
                        id: 50
                        name: Vinderup
                        city: Vinderup
                        country: DK
                      -
                        id: 51
                        name: Sandved
                        city: Sandved
                        country: DK
                      -
                        id: 52
                        name: Veksø
                        city: Veksø
                        country: DK
                      -
                        id: 53
                        name: Såby
                        city: Såby
                        country: DK
                      -
                        id: 54
                        name: Ulstrup
                        city: Ulstrup
                        country: DK
                      -
                        id: 55
                        name: Hundested
                        city: Hundested
                        country: DK
                    items:
                      type: object
                  links:
                    type: object
                    example:
                      first: 'https://hockeymanager.test/api/teams?page=1'
                      last: 'https://hockeymanager.test/api/teams?page=5'
                      prev: null
                      next: 'https://hockeymanager.test/api/teams?page=2'
                  meta:
                    type: object
                    example:
                      current_page: 1
                      from: 1
                      last_page: 5
                      links:
                        -
                          url: null
                          label: '&laquo; Previous'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/teams?page=1'
                          label: '1'
                          active: true
                        -
                          url: 'https://hockeymanager.test/api/teams?page=2'
                          label: '2'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/teams?page=3'
                          label: '3'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/teams?page=4'
                          label: '4'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/teams?page=5'
                          label: '5'
                          active: false
                        -
                          url: 'https://hockeymanager.test/api/teams?page=2'
                          label: 'Next &raquo;'
                          active: false
                      path: 'https://hockeymanager.test/api/teams'
                      per_page: 15
                      to: 15
                      total: 64
      tags:
        - Endpoints
      security: []
  '/api/teams/{team_id}':
    get:
      summary: ''
      operationId: getApiTeamsTeam_id
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: Åstorp
                    city: Åstorp
                    country: SE
                properties:
                  data:
                    type: object
                    example:
                      id: 1
                      name: Åstorp
                      city: Åstorp
                      country: SE
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: team_id
        description: 'The ID of the team.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/teams/{team_id}/schedule':
    get:
      summary: ''
      operationId: getApiTeamsTeam_idSchedule
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 4
                      round: 1
                      status: 60
                      starts_at: '2022-11-27T19:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 13
                      away_score: 6
                      home_team_id: 1
                      away_team_id: 7
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 7
                        name: Johannishus
                        city: Johannishus
                        country: SE
                    -
                      id: 8
                      round: 2
                      status: 60
                      starts_at: '2022-11-27T21:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 12
                      away_score: 9
                      home_team_id: 1
                      away_team_id: 8
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 8
                        name: Hassela
                        city: Hassela
                        country: SE
                    -
                      id: 11
                      round: 3
                      status: 60
                      starts_at: '2022-11-27T23:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 5
                      away_score: 14
                      home_team_id: 2
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 2
                        name: Lidhult
                        city: Lidhult
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                    -
                      id: 14
                      round: 4
                      status: 60
                      starts_at: '2022-11-28T01:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 7
                      away_score: 8
                      home_team_id: 1
                      away_team_id: 6
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 6
                        name: Brännö
                        city: Brännö
                        country: SE
                    -
                      id: 17
                      round: 5
                      status: 60
                      starts_at: '2022-11-28T03:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 3
                      away_score: 9
                      home_team_id: 1
                      away_team_id: 5
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 5
                        name: 'Naglarby och Enbacka'
                        city: 'Naglarby och Enbacka'
                        country: SE
                    -
                      id: 22
                      round: 6
                      status: 60
                      starts_at: '2022-11-28T05:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 12
                      away_score: 8
                      home_team_id: 4
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 4
                        name: Persbo
                        city: Persbo
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                    -
                      id: 27
                      round: 7
                      status: 60
                      starts_at: '2022-11-28T07:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 11
                      away_score: 5
                      home_team_id: 1
                      away_team_id: 3
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 3
                        name: Tystberga
                        city: Tystberga
                        country: SE
                    -
                      id: 32
                      round: 8
                      status: 60
                      starts_at: '2022-11-28T09:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 9
                      away_score: 7
                      home_team_id: 7
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 7
                        name: Johannishus
                        city: Johannishus
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                    -
                      id: 36
                      round: 9
                      status: 11
                      starts_at: '2022-11-28T11:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 1
                      away_score: 4
                      home_team_id: 8
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 8
                        name: Hassela
                        city: Hassela
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                    -
                      id: 39
                      round: 10
                      status: 0
                      starts_at: '2022-11-28T13:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 0
                      away_score: 0
                      home_team_id: 1
                      away_team_id: 2
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 2
                        name: Lidhult
                        city: Lidhult
                        country: SE
                    -
                      id: 42
                      round: 11
                      status: 0
                      starts_at: '2022-11-28T15:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 0
                      away_score: 0
                      home_team_id: 6
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 6
                        name: Brännö
                        city: Brännö
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                    -
                      id: 45
                      round: 12
                      status: 0
                      starts_at: '2022-11-28T17:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 0
                      away_score: 0
                      home_team_id: 5
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 5
                        name: 'Naglarby och Enbacka'
                        city: 'Naglarby och Enbacka'
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                    -
                      id: 50
                      round: 13
                      status: 0
                      starts_at: '2022-11-28T19:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 0
                      away_score: 0
                      home_team_id: 1
                      away_team_id: 4
                      competition_id: 1
                      home_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                      away_team:
                        id: 4
                        name: Persbo
                        city: Persbo
                        country: SE
                    -
                      id: 55
                      round: 14
                      status: 0
                      starts_at: '2022-11-28T21:58:49.000000Z'
                      current_time: '20:00'
                      home_score: 0
                      away_score: 0
                      home_team_id: 3
                      away_team_id: 1
                      competition_id: 1
                      home_team:
                        id: 3
                        name: Tystberga
                        city: Tystberga
                        country: SE
                      away_team:
                        id: 1
                        name: Åstorp
                        city: Åstorp
                        country: SE
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 4
                        round: 1
                        status: 60
                        starts_at: '2022-11-27T19:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 13
                        away_score: 6
                        home_team_id: 1
                        away_team_id: 7
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 7
                          name: Johannishus
                          city: Johannishus
                          country: SE
                      -
                        id: 8
                        round: 2
                        status: 60
                        starts_at: '2022-11-27T21:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 12
                        away_score: 9
                        home_team_id: 1
                        away_team_id: 8
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 8
                          name: Hassela
                          city: Hassela
                          country: SE
                      -
                        id: 11
                        round: 3
                        status: 60
                        starts_at: '2022-11-27T23:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 5
                        away_score: 14
                        home_team_id: 2
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 2
                          name: Lidhult
                          city: Lidhult
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                      -
                        id: 14
                        round: 4
                        status: 60
                        starts_at: '2022-11-28T01:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 7
                        away_score: 8
                        home_team_id: 1
                        away_team_id: 6
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 6
                          name: Brännö
                          city: Brännö
                          country: SE
                      -
                        id: 17
                        round: 5
                        status: 60
                        starts_at: '2022-11-28T03:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 3
                        away_score: 9
                        home_team_id: 1
                        away_team_id: 5
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 5
                          name: 'Naglarby och Enbacka'
                          city: 'Naglarby och Enbacka'
                          country: SE
                      -
                        id: 22
                        round: 6
                        status: 60
                        starts_at: '2022-11-28T05:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 12
                        away_score: 8
                        home_team_id: 4
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 4
                          name: Persbo
                          city: Persbo
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                      -
                        id: 27
                        round: 7
                        status: 60
                        starts_at: '2022-11-28T07:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 11
                        away_score: 5
                        home_team_id: 1
                        away_team_id: 3
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 3
                          name: Tystberga
                          city: Tystberga
                          country: SE
                      -
                        id: 32
                        round: 8
                        status: 60
                        starts_at: '2022-11-28T09:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 9
                        away_score: 7
                        home_team_id: 7
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 7
                          name: Johannishus
                          city: Johannishus
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                      -
                        id: 36
                        round: 9
                        status: 11
                        starts_at: '2022-11-28T11:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 1
                        away_score: 4
                        home_team_id: 8
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 8
                          name: Hassela
                          city: Hassela
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                      -
                        id: 39
                        round: 10
                        status: 0
                        starts_at: '2022-11-28T13:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 0
                        away_score: 0
                        home_team_id: 1
                        away_team_id: 2
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 2
                          name: Lidhult
                          city: Lidhult
                          country: SE
                      -
                        id: 42
                        round: 11
                        status: 0
                        starts_at: '2022-11-28T15:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 0
                        away_score: 0
                        home_team_id: 6
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 6
                          name: Brännö
                          city: Brännö
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                      -
                        id: 45
                        round: 12
                        status: 0
                        starts_at: '2022-11-28T17:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 0
                        away_score: 0
                        home_team_id: 5
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 5
                          name: 'Naglarby och Enbacka'
                          city: 'Naglarby och Enbacka'
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                      -
                        id: 50
                        round: 13
                        status: 0
                        starts_at: '2022-11-28T19:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 0
                        away_score: 0
                        home_team_id: 1
                        away_team_id: 4
                        competition_id: 1
                        home_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                        away_team:
                          id: 4
                          name: Persbo
                          city: Persbo
                          country: SE
                      -
                        id: 55
                        round: 14
                        status: 0
                        starts_at: '2022-11-28T21:58:49.000000Z'
                        current_time: '20:00'
                        home_score: 0
                        away_score: 0
                        home_team_id: 3
                        away_team_id: 1
                        competition_id: 1
                        home_team:
                          id: 3
                          name: Tystberga
                          city: Tystberga
                          country: SE
                        away_team:
                          id: 1
                          name: Åstorp
                          city: Åstorp
                          country: SE
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: team_id
        description: 'The ID of the team.'
        example: 1
        required: true
        schema:
          type: integer
  /api/competitions:
    get:
      summary: ''
      operationId: getApiCompetitions
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Klass 1'
                      country: SE
                      status: 10
                      starts_at: '2022-11-27T19:58:49.000000Z'
                      ends_at: '2022-11-28T23:58:49.000000Z'
                      type: 0
                      max_teams: 8
                      meetings: 2
                      promotion: 0
                      relegation: 2
                      recurring: true
                      edition: 1
                      table:
                        -
                          games_played: 8
                          wins: 7
                          draws: 0
                          losses: 1
                          goals_for: 66
                          goals_against: 35
                          points: 21
                          goal_difference: 31
                          team:
                            id: 5
                            name: 'Naglarby och Enbacka'
                            city: 'Naglarby och Enbacka'
                            country: SE
                        -
                          games_played: 8
                          wins: 7
                          draws: 0
                          losses: 1
                          goals_for: 75
                          goals_against: 57
                          points: 20
                          goal_difference: 18
                          team:
                            id: 6
                            name: Brännö
                            city: Brännö
                            country: SE
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 51
                          goals_against: 55
                          points: 13
                          goal_difference: -4
                          team:
                            id: 3
                            name: Tystberga
                            city: Tystberga
                            country: SE
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 75
                          goals_against: 63
                          points: 12
                          goal_difference: 12
                          team:
                            id: 1
                            name: Åstorp
                            city: Åstorp
                            country: SE
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 66
                          goals_against: 66
                          points: 12
                          goal_difference: 0
                          team:
                            id: 4
                            name: Persbo
                            city: Persbo
                            country: SE
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 55
                          goals_against: 62
                          points: 11
                          goal_difference: -7
                          team:
                            id: 7
                            name: Johannishus
                            city: Johannishus
                            country: SE
                        -
                          games_played: 8
                          wins: 1
                          draws: 0
                          losses: 7
                          goals_for: 54
                          goals_against: 83
                          points: 4
                          goal_difference: -29
                          team:
                            id: 8
                            name: Hassela
                            city: Hassela
                            country: SE
                        -
                          games_played: 8
                          wins: 1
                          draws: 0
                          losses: 7
                          goals_for: 55
                          goals_against: 76
                          points: 3
                          goal_difference: -21
                          team:
                            id: 2
                            name: Lidhult
                            city: Lidhult
                            country: SE
                    -
                      id: 2
                      name: 'Klass 2'
                      country: SE
                      status: 10
                      starts_at: '2022-11-27T19:58:50.000000Z'
                      ends_at: '2022-11-28T23:58:50.000000Z'
                      type: 0
                      max_teams: 8
                      meetings: 2
                      promotion: 2
                      relegation: 0
                      recurring: true
                      edition: 1
                      table:
                        -
                          games_played: 8
                          wins: 7
                          draws: 0
                          losses: 1
                          goals_for: 71
                          goals_against: 50
                          points: 21
                          goal_difference: 21
                          team:
                            id: 13
                            name: Sjötorp
                            city: Sjötorp
                            country: SE
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 57
                          goals_against: 45
                          points: 16
                          goal_difference: 12
                          team:
                            id: 12
                            name: Hallabro
                            city: Hallabro
                            country: SE
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 64
                          goals_against: 61
                          points: 15
                          goal_difference: 3
                          team:
                            id: 14
                            name: Lidköping
                            city: Lidköping
                            country: SE
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 53
                          goals_against: 49
                          points: 12
                          goal_difference: 4
                          team:
                            id: 11
                            name: Hällestad
                            city: Hällestad
                            country: SE
                        -
                          games_played: 8
                          wins: 3
                          draws: 0
                          losses: 5
                          goals_for: 51
                          goals_against: 54
                          points: 10
                          goal_difference: -3
                          team:
                            id: 9
                            name: Sulvik
                            city: Sulvik
                            country: SE
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 64
                          goals_against: 68
                          points: 10
                          goal_difference: -4
                          team:
                            id: 15
                            name: Idala
                            city: Idala
                            country: SE
                        -
                          games_played: 8
                          wins: 3
                          draws: 0
                          losses: 5
                          goals_for: 53
                          goals_against: 47
                          points: 9
                          goal_difference: 6
                          team:
                            id: 10
                            name: Åsenhöga
                            city: Åsenhöga
                            country: SE
                        -
                          games_played: 8
                          wins: 1
                          draws: 0
                          losses: 7
                          goals_for: 46
                          goals_against: 85
                          points: 3
                          goal_difference: -39
                          team:
                            id: 16
                            name: Krokek
                            city: Krokek
                            country: SE
                    -
                      id: 3
                      name: Liiga
                      country: FI
                      status: 10
                      starts_at: '2022-11-27T19:58:51.000000Z'
                      ends_at: '2022-11-28T23:58:51.000000Z'
                      type: 0
                      max_teams: 8
                      meetings: 2
                      promotion: 0
                      relegation: 2
                      recurring: true
                      edition: 1
                      table:
                        -
                          games_played: 8
                          wins: 6
                          draws: 0
                          losses: 2
                          goals_for: 67
                          goals_against: 50
                          points: 19
                          goal_difference: 17
                          team:
                            id: 21
                            name: Uus-Joakim
                            city: Uus-Joakim
                            country: FI
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 68
                          goals_against: 52
                          points: 15
                          goal_difference: 16
                          team:
                            id: 17
                            name: Uus-Mikajärvi
                            city: Uus-Mikajärvi
                            country: FI
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 60
                          goals_against: 59
                          points: 15
                          goal_difference: 1
                          team:
                            id: 19
                            name: Aholahti
                            city: Aholahti
                            country: FI
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 54
                          goals_against: 53
                          points: 14
                          goal_difference: 1
                          team:
                            id: 22
                            name: Kinnunenjoki
                            city: Kinnunenjoki
                            country: FI
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 58
                          goals_against: 58
                          points: 12
                          goal_difference: 0
                          team:
                            id: 20
                            name: Helismaapudas
                            city: Helismaapudas
                            country: FI
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 57
                          goals_against: 62
                          points: 11
                          goal_difference: -5
                          team:
                            id: 23
                            name: Uus-Joonatanvesi
                            city: Uus-Joonatanvesi
                            country: FI
                        -
                          games_played: 8
                          wins: 3
                          draws: 0
                          losses: 5
                          goals_for: 52
                          goals_against: 51
                          points: 9
                          goal_difference: 1
                          team:
                            id: 24
                            name: Itä-Aarni
                            city: Itä-Aarni
                            country: FI
                        -
                          games_played: 8
                          wins: 0
                          draws: 0
                          losses: 8
                          goals_for: 49
                          goals_against: 80
                          points: 1
                          goal_difference: -31
                          team:
                            id: 18
                            name: Uus-Neea
                            city: Uus-Neea
                            country: FI
                    -
                      id: 4
                      name: 'Liiga 2'
                      country: FI
                      status: 10
                      starts_at: '2022-11-27T19:58:52.000000Z'
                      ends_at: '2022-11-28T23:58:52.000000Z'
                      type: 0
                      max_teams: 8
                      meetings: 2
                      promotion: 2
                      relegation: 0
                      recurring: true
                      edition: 1
                      table:
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 64
                          goals_against: 48
                          points: 15
                          goal_difference: 16
                          team:
                            id: 28
                            name: Ahovesi
                            city: Ahovesi
                            country: FI
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 67
                          goals_against: 54
                          points: 15
                          goal_difference: 13
                          team:
                            id: 31
                            name: Hirveläkoski
                            city: Hirveläkoski
                            country: FI
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 60
                          goals_against: 49
                          points: 15
                          goal_difference: 11
                          team:
                            id: 27
                            name: Jerelampi
                            city: Jerelampi
                            country: FI
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 56
                          goals_against: 52
                          points: 15
                          goal_difference: 4
                          team:
                            id: 25
                            name: Eräharjulampi
                            city: Eräharjulampi
                            country: FI
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 49
                          goals_against: 51
                          points: 12
                          goal_difference: -2
                          team:
                            id: 29
                            name: Uus-Pihlapudas
                            city: Uus-Pihlapudas
                            country: FI
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 52
                          goals_against: 66
                          points: 11
                          goal_difference: -14
                          team:
                            id: 30
                            name: Linnamäkisalmi
                            city: Linnamäkisalmi
                            country: FI
                        -
                          games_played: 8
                          wins: 2
                          draws: 0
                          losses: 6
                          goals_for: 56
                          goals_against: 70
                          points: 7
                          goal_difference: -14
                          team:
                            id: 26
                            name: Tuuttiharju
                            city: Tuuttiharju
                            country: FI
                        -
                          games_played: 8
                          wins: 2
                          draws: 0
                          losses: 6
                          goals_for: 40
                          goals_against: 54
                          points: 6
                          goal_difference: -14
                          team:
                            id: 32
                            name: Uusi-Enna
                            city: Uusi-Enna
                            country: FI
                    -
                      id: 5
                      name: 'Norge 1'
                      country: 'NO'
                      status: 10
                      starts_at: '2022-11-27T19:58:53.000000Z'
                      ends_at: '2022-11-28T23:58:53.000000Z'
                      type: 0
                      max_teams: 8
                      meetings: 2
                      promotion: 0
                      relegation: 2
                      recurring: true
                      edition: 1
                      table:
                        -
                          games_played: 8
                          wins: 7
                          draws: 0
                          losses: 1
                          goals_for: 57
                          goals_against: 44
                          points: 20
                          goal_difference: 13
                          team:
                            id: 39
                            name: Orkanger
                            city: Orkanger
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 6
                          draws: 0
                          losses: 2
                          goals_for: 66
                          goals_against: 43
                          points: 18
                          goal_difference: 23
                          team:
                            id: 34
                            name: Skien
                            city: Skien
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 61
                          goals_against: 53
                          points: 16
                          goal_difference: 8
                          team:
                            id: 35
                            name: Fredrikstad
                            city: Fredrikstad
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 5
                          draws: 0
                          losses: 3
                          goals_for: 58
                          goals_against: 61
                          points: 13
                          goal_difference: -3
                          team:
                            id: 40
                            name: Sandefjord
                            city: Sandefjord
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 3
                          draws: 0
                          losses: 5
                          goals_for: 45
                          goals_against: 57
                          points: 10
                          goal_difference: -12
                          team:
                            id: 36
                            name: Vardø
                            city: Vardø
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 2
                          draws: 0
                          losses: 6
                          goals_for: 53
                          goals_against: 47
                          points: 7
                          goal_difference: 6
                          team:
                            id: 38
                            name: Molde
                            city: Molde
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 2
                          draws: 0
                          losses: 6
                          goals_for: 52
                          goals_against: 53
                          points: 6
                          goal_difference: -1
                          team:
                            id: 33
                            name: Fosnavåg
                            city: Fosnavåg
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 2
                          draws: 0
                          losses: 6
                          goals_for: 47
                          goals_against: 81
                          points: 6
                          goal_difference: -34
                          team:
                            id: 37
                            name: Tvedestrand
                            city: Tvedestrand
                            country: 'NO'
                    -
                      id: 6
                      name: 'Norge 2'
                      country: 'NO'
                      status: 10
                      starts_at: '2022-11-27T19:58:54.000000Z'
                      ends_at: '2022-11-28T23:58:54.000000Z'
                      type: 0
                      max_teams: 8
                      meetings: 2
                      promotion: 2
                      relegation: 0
                      recurring: true
                      edition: 1
                      table:
                        -
                          games_played: 8
                          wins: 7
                          draws: 0
                          losses: 1
                          goals_for: 77
                          goals_against: 58
                          points: 21
                          goal_difference: 19
                          team:
                            id: 44
                            name: Sandefjord
                            city: Sandefjord
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 6
                          draws: 0
                          losses: 2
                          goals_for: 69
                          goals_against: 52
                          points: 18
                          goal_difference: 17
                          team:
                            id: 45
                            name: Horten
                            city: Horten
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 6
                          draws: 0
                          losses: 2
                          goals_for: 62
                          goals_against: 49
                          points: 17
                          goal_difference: 13
                          team:
                            id: 41
                            name: Stokmarknes
                            city: Stokmarknes
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 4
                          draws: 0
                          losses: 4
                          goals_for: 56
                          goals_against: 57
                          points: 11
                          goal_difference: -1
                          team:
                            id: 47
                            name: Haugesund
                            city: Haugesund
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 2
                          draws: 0
                          losses: 6
                          goals_for: 59
                          goals_against: 65
                          points: 8
                          goal_difference: -6
                          team:
                            id: 43
                            name: Kristiansund
                            city: Kristiansund
                            country: 'NO'
                        -
                          games_played: 8
                          wins: 3
                          draws: 0
                          losses: 5
                          goals_for: 63
                          goals_against: 77
                          points: 8
                          goal_difference: -14
                          team:
[...]
